---
import Layout from "../../layouts/Layout.astro";
import { oneID } from "../../../backend/backend.mjs";
import ImgPb from "../../components/ImgPb.astro";
import { formatDate } from '../../js/helpers';

const { id } = Astro.params;

const event = await oneID(id);
---

<Layout>
  <div class="pt-12 grille relative *:px-4">
    <a href="/films" class="inline-block mb-4 mx-4 py-2 bg-indigo-800 text-white rounded hover:bg-indigo-900">Retour à la liste des films</a>
    <ImgPb
      record={event}
      field="affiche"
      alt={event.titre}
      classPicture="col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
      classImg="object-cover w-80 h-100 px-4"
    />
    <header class="lg:col-start-7 lg:col-span-6">
      <h1 class="my-12">{event.titre}</h1>
      <ul class="divide-y *:grid *:grid-cols-4 *:items-center *:py-4 *:px-4">
        <li>
          <span class="col-span-2 uppercase font-bold text-sm">Date de projection</span>
          <span class="col-span-2">{ formatDate(event.date_projection) }</span>
        </li>
        <li>
          <span class="col-span-2 uppercase font-bold text-sm">Durée</span>
          <span class="col-span-2">{event.duree}</span>
        </li>
        <li>
          <span class="col-span-2 uppercase font-bold text-sm">Catégories</span>
          <span class="col-span-2">{event.genre}</span>
        </li>
        <li>
            <span class="col-span-2 uppercase font-bold text-sm">Année de sortie</span>
            <span class="col-span-2">{event.annee_de_sortie}</span>
        </li>
        <li>
            <span class="col-span-2 uppercase font-bold text-sm">Bande annonce</span>
            <a href={event.bande_annonce} target="_blank" class="col-span-2 text-blue-500 hover:underline">Voir la bande annonce</a>
        </li>
        <li>
            <span class="col-span-2 uppercase font-bold text-sm">Réalisateur</span>
            <span class="col-span-2">{event.realisateur}</span>
        </li>
        <li>
            <span class="col-span-2 uppercase font-bold text-sm">Langue du film</span>
            <span class="col-span-2">{event.langue}</span>
        </li>
      </ul>
    </header>
  </div>
  <h2 class="my-12 px-4">Synopsis</h2>
  <div class="my-12 space-y-3 px-6 lg:mx-5" set:html={event.synopsis}></div>
</Layout>