---
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import { Picture } from "astro:assets";
import Image1 from "../assets/img/image1.webp";
import Plan from "../assets/img/mappetite.webp";
import AlexandreLeroy from "../assets/img/image (1).webp";
import JeanDupont from "../assets/img/image (2).webp";
import MarieMartin from "../assets/img/image (3).webp";
import LucieBernard from "../assets/img/image (4).webp";
import PierreDurand from "../assets/img/image (5).webp";
import AlexMoreau from "../assets/img/image (6).webp";
import ThomasLefèvre from "../assets/img/image (7).webp";
import AminaKone from "../assets/img/image (8).webp";
---

<LayoutWithHero title="Festival" src={Plan} alt="Image de festival" duotoneClass="duotone-bleu">
    <section class="container py-20 space-y-8">
        <article class="font-bold">
            <p>Rejoignez-nous à l'Axone de Montbéliard pour notre festival de cinéma de sur le thème du sport du 19 au 21 septembre 2025! <br> <br> Découvrez une programmation exceptionnelle et profitez d'une ambiance unique.</p>
        </article>
        <article>
            <h2 class="pb-7">Histoire</h2>
            <p> Le festival Vis'Sport est une célébration unique du monde du sport à travers le prisme du cinéma. Créé en 2024 par un groupe d'enthousiastes du sport et du cinéma, il a pour objectif de promouvoir les valeurs sportives et de mettre en lumière des histoires inspirantes qui transcendent les disciplines. 
                
                Situé à l'Axone à Montbéliard, ce festival souhaite devenir un rendez-vous incontournable pour tous les amateurs de films sportifs, offrant une programmation diversifiée et passionnante.</p>
        </article>
        <br>
        <Picture class="w-full h-full" src={Image1} alt="Image de festival" />
        <section>
            <div>
                <hr>
                <h2 class="pt-7 pb-7">L'équipe</h2>
            </div>
    
            <ul class="team grid grid-cols-2 gap-4 md:grid-cols-4 list-unstyled">
              <li>
                <Picture
                  src={AlexandreLeroy}
                  alt="Portrait de Alexandre Leroy"
                  loading="lazy"
                />
                <h4>Alexandre Leroy</h4>
                <p>Organisateur</p>
              </li>
    
              <li>
                <Picture
                  src={JeanDupont}
                  alt="Portrait de Jean Dupont"
                  loading="lazy"
                />
                <h4>Jean Dupont</h4>
                <p>Directeur artistique</p>
              </li>
    
              <li>
                <Picture
                  src={MarieMartin}
                  alt="Portrait de Marie Martin"
                  loading="lazy"
                />
                <h4>Marie Martin</h4>
                <p>Coordinatrice logistique</p>
              </li>
    
              <li>
                <Picture
                  src={LucieBernard}
                  alt="Portrait de Lucie Bernard"
                  loading="lazy"
                />
                <h4>Lucie Bernard</h4>
                <p>Responsable de la programmation</p>
              </li>
    
              <li>
                <Picture
                  src={PierreDurand}
                  alt="Portrait de Pierre Durand"
                  loading="lazy"
                />
                <h4>Pierre Durand</h4>
                <p>Chef de projet technique</p>
              </li>
    
              <li>
                <Picture
                  src={AlexMoreau}
                  alt="Portrait de Alex Moreau"
                  loading="lazy"
                />
                <h4>Alex Moreau</h4>
                <p>Ingénieure du son</p>
              </li>
    
              <li>
                <Picture
                  src={ThomasLefèvre}
                  alt="Portrait de Thomas Lefèvre"
                  loading="lazy"
                />
                <h4>Thomas Lefèvre</h4>
                <p>Spécialiste en éclairage</p>
              </li>
    
              <li>
                <Picture
                  src={AminaKone}
                  alt="Portrait de Amina Kone"
                  loading="lazy"
                />
                <h3>Amina Kone</h3>
                <p>Chargée de communication</p>
              </li>
            </ul>
          </section>       
    </section>
</LayoutWithHero>